<div class="content">
    <!-- <div class="content-info-wrapper">
        <div class="content-info">
            <div class="resume d-flex flex-column justify-content-center align-items-center">
                <div class="resume-header d-flex justify-content-center align-items-center">
                    <h3>MATEUS QUINTANILHA</h3>
                </div>
                <p>A Frontend Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product.</p>
            </div>
            <div class="social-media d-flex flex-column justify-content-center align-items-end">
                <div class="social-media-header d-flex justify-content-center align-items-center">
                    <h3>SOCIAL</h3>
                </div>
                <div class="icons d-flex flex-row justify-content-center align-items-center">
                    <a href="https://www.linkedin.com/in/mateus-quintanilha/?locale=en_US" target="_blank">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a href="https://github.com/mateus-s-quintanilha" target="_blank">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                    <a href="https://drive.google.com/file/d/1kfLc1YyeNVxn1xe4B3DAaNk6MqZj1-yK/view?usp=sharing" target="_blank">
                        <fa-icon [icon]="faFilePdf"></fa-icon>
                      </a>
                </div>
            </div>
        </div>
        <div class="copyright d-flex justify-content-center align-items-center">
            <p>© Copyright 2022. Made by <u>Mateus Quintanilha</u></p>
        </div> 
    </div>-->

    <div class="content-info-wrapper">
        <div class="content-info">

            <div class="resume d-flex flex-column">
                <div class="resume-header d-flex justify-content-center">
                    <h3>MATEUS QUINTANILHA</h3>
                </div>
                <p>A Frontend Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product.</p>
            </div> 
                
            <div class="social-media d-flex flex-column">
                <div class="social-media-header d-flex justify-content-center align-items-start">
                    <h3>SOCIAL</h3>
                </div>
                <!-- <div class="icons d-flex flex-row align-items-center justify-content-evenly"> -->
                <div class="icons d-flex flex-row justify-content-evenly align-items-start">
                    <a href="https://www.linkedin.com/in/mateus-quintanilha/?locale=en_US" target="_blank">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a href="https://github.com/mateus-s-quintanilha" target="_blank">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                    <a href="https://drive.google.com/file/d/1kfLc1YyeNVxn1xe4B3DAaNk6MqZj1-yK/view?usp=sharing" target="_blank">
                        <fa-icon [icon]="faFilePdf"></fa-icon>
                    </a>
                </div>
            </div>       
        </div>
        <div class="copyright d-flex justify-content-center align-items-center">
            <p>© Copyright 2022. Made by <u>
                <a style="text-decoration: none; color: #fff;" href="#home">
                    Mateus Quintanilha
                </a>
            </u></p>
        </div> 
    </div>
    
</div>
