<div class="content">
    <input type="checkbox" id="toggle">
    <div class="content-info d-flex flex-row justify-content-around align-items-center">
        <div class="name d-flex justify-content-center">
            <a href="#home">
                <img id="my-icon" src="../../../assets/my-pixel.png" alt="my pixel art">
                <span>MATEUS QUINTANILHA</span>
            </a>
        </div>
        <div class="nav d-flex justify-content-around align-items-center">
            <!-- <div>
                <a href="#">HOME</a>
            </div>
            <div>
                <a href="#">ABOUT</a>
            </div>
            <div>
                <a href="#">PROJECTS</a>
            </div>
            <div>
                <a href="#">CONTACT</a>
            </div> -->
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">PROJECTS</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li> -->
            </ul>
            <label id="bars-icon" for="toggle">
                <fa-icon [icon]="faBars"></fa-icon>
            </label>
        </div> 
    </div>
   
</div>


