.banner {
    width: 100%;
    height: 112vh;
    background-position: center;
    background-position-y: center;
    // background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../assets/image_processing20220407-6162-1d8vkmr.jpeg');
    z-index: 1;
}


.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // background-color: rgba(63, 51, 79, 0.747);
    // padding: 1rem;
    // border-radius: .2rem;
    // z-index: 1000;
}

#page-title {
    letter-spacing: 4px;
    word-spacing: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #ffffff;
    max-width: 100%;
    text-align: center;
    // max-width: 12rem;
    background-color: rgba(63, 51, 79, 0.747);
    padding: 1rem;
    border-radius: .2rem;
}


#subtitle {
    margin-top: 3rem;
    background-color: rgba(63, 51, 79, 0.808);
    padding: 1rem;
    border-radius: .2rem;
    color: rgba(255, 255, 255, 0.836);
    // color: rgb(238,212,62);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}


#subtitle h4{
    font-size: 1.3rem;
    text-align: center;
}

.btn {
    position: absolute;
    left: 50%;
    margin-top: 4rem;
    transform: translate(-50%,-50%);
    background-color: rgb(35,159,115);
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    box-shadow: 0 0 6px rgb(35,159,115);
    padding: 1rem 5rem;
}

.section-1-content {
    // padding-top: rem;
    padding-bottom: 3rem;
}

.mockup {
    width: 90%;
    height: auto;
}

.project-info {
    width: 100%;
}

.project-info h3{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 2rem;
}

.project-info p{ 
    width: 60%;
    padding-bottom: .5rem;
    opacity: .8;
}

.tools {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.tools h3 {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.tools-list {
    width: 65%;
}

.tools-list div{
    display: inline-block;
}

.tool-card {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background-color: rgba(63, 51, 79, 0.877);  
    color: #fff;
    padding: .7rem 1.5rem;
    border-radius: .3rem;
    margin-top: .5rem;
    width: 105px;
}

.links {
    width: 100%;
}

.links-wrapper {
    width: 50%;
}

@media (max-width: 1005px) {
    .btn {
        // margin-top: 4rem;
        font-size: 1rem;
        padding: 1rem 3rem;
    }   
}

@media (max-width: 768px) {
    #page-title {
        // letter-spacing: 4px;
        // word-spacing: 6px;
        font-size: 2.8rem;
    }   
}

@media (max-width: 670px) {
    .btn {
        font-size: 1rem;
        padding: 1rem 2rem;
    } 
    #subtitle {
        width: 70vw;
    }
    #subtitle h4{
        font-size: 1.1rem;
    }
}

@media (max-width: 585px) {
    #page-title {
        // letter-spacing: 4px;
        // word-spacing: 6px;
        font-size: 2.5rem;
    }   
    #subtitle h4{
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .project-info p{ 
        width: 75%;
        // padding-bottom: .5rem;
        // opacity: .8;
    }
}

// Specific devices: 
@media (max-width: 900px) and (max-height: 500px) {
    .banner {
        width: 100%;
        height: 120vh;
    }
    .home-content {
        top: 60%;
        left: 50%;
    }
    #page-title {
        letter-spacing: 3px;
        word-spacing: 4px;
        font-size: 2rem;
    }

    #subtitle h4{
        font-size: 1.1rem;
    }
    .sidenav-icons fa-icon{
        font-size: 1.4rem;
    }
}
