
<div id="home" class="banner">
    <div data-aos="fade-right" class="sidenav-icons d-flex flex-column justify-content-around align-items-center">
      <a href="https://www.linkedin.com/in/mateus-quintanilha/?locale=en_US" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://github.com/mateus-s-quintanilha" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://drive.google.com/file/d/1kfLc1YyeNVxn1xe4B3DAaNk6MqZj1-yK/view?usp=sharing" target="_blank">
        <fa-icon [icon]="faFilePdf"></fa-icon>
      </a>
    </div>
    <div class="home-content">
      <h1 id="page-title">HELLO THERE, I'M MATEUS QUINTANILHA</h1>
      <div class="d-flex justify-content-center align-items-center" id="subtitle">
        <h4>A Frontend Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product.</h4>
      </div>
    </div>
  </div>
  <div style="background-color: #fafafa;" class="container-fluid">
    <div id="about" class="section-about d-flex flex-column justify-content-center align-items-center">
      <div data-aos="fade-up" class="section-about-title">
        <h2>ABOUT ME</h2>
        <span class="line-below"></span>
      </div>
      <!-- align-items-center -->
      <div class="section-about-content">
        <div class="section-about-content-1 d-flex flex-column justify-content-start">
          <h4>Get To Know Me</h4>
          <p>
            IT professional with 1 year of experience in the area, enrolled on a university, studying
            Information Systems.
          </p>
          <p>
            I focus on Front-end web development, with JavaScript, TypeScript, Angular, Bootstrap,
            among other technologies that I use to create high-level and valuable applications.
            In addition, I have knowledge and develop Back-end applications, with Node.js, Express
            and also BaaS platforms, such as Google Firebase.
          </p>
          <p>
            I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to contact me.
          </p>
        </div>
        <div class="section-about-content-2 d-flex flex-column justify-content-start">
          <h4 >My Skills</h4>
          <div class="row justify-content-between">
            <div class="skill-card col-6 col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center align-items-center">Angular</div>
            <div class="skill-card col-5 col-sm-5 col-md-3 col-lg-2 d-flex justify-content-center align-items-center">TypeScript</div>
            <div class="skill-card col-3 col-sm-3 col-md-3 col-lg-2 d-flex justify-content-center align-items-center">HTML</div>
            <div class="skill-card col-3 col-sm-3 col-md-5 col-lg-2 d-flex justify-content-center align-items-center">CSS</div>
            <div class="skill-card col-5 col-sm-5 col-md-6 col-lg-2 d-flex justify-content-center align-items-center">JavaScript</div>
          </div>
          <div class="row justify-content-between">
            <!-- <div class="skill-card col-4 col-sm-4 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">Bootstrap</div>
            <div class="skill-card col-7 col-sm-7 col-md-7 col-lg-4 d-flex justify-content-center align-items-center">Responsive Design</div>
            <div class="skill-card col-5 col-sm-5 col-md-5 col-lg-2 d-flex justify-content-center align-items-center">Git</div>
            <div class="skill-card col-6 col-sm-6 col-md-6 col-lg-2 d-flex justify-content-center align-items-center">Github</div> -->
            <div class="skill-card col-2 col-sm-2 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">Bootstrap</div>
            <div class="skill-card col-4 col-sm-4 col-md-7 col-lg-4 d-flex justify-content-center align-items-center">Responsive Design</div>
            <div class="skill-card col-2 col-sm-2 col-md-5 col-lg-2 d-flex justify-content-center align-items-center">Git</div>
            <div class="skill-card col-2 col-sm-2 col-md-6 col-lg-2 d-flex justify-content-center align-items-center">Github</div>
          </div>
          <div class="row justify-content-between">
            <!-- <div class="skill-card col-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">Node.js</div>
            <div class="skill-card col-5 col-sm-5 col-md-5 col-lg-2 d-flex justify-content-center align-items-center">Express</div>
            <div class="skill-card col-5 col-sm-5 col-md-5 col-lg-2 d-flex justify-content-center align-items-center">Firebase</div>  
            <div class="skill-card col-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">Rest APIs</div> -->
            <div class="skill-card col-4 col-sm-4 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">Node.js</div>
            <div class="skill-card col-2 col-sm-2 col-md-5 col-lg-2 d-flex justify-content-center align-items-center">Express</div>
            <div class="skill-card col-2 col-sm-2 col-md-5 col-lg-2 d-flex justify-content-center align-items-center">Firebase</div>  
            <div class="skill-card col-3 col-sm-3 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">Rest APIs</div>
          </div>
          <div class="row justify-content-between">
            <div class="skill-card col-5 col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center align-items-center">MySQL</div>
            <div class="skill-card col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">Google Cloud Platform</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="projects" class="section-projects d-flex flex-column justify-content-center align-items-center">
      <div data-aos="fade-up" class="section-projects-title">
        <h2>PROJECTS</h2>
        <span class="line-below"></span>
      </div>
      <div class="section-projects-subtitle">
        <p>
          Here you will find some of the personal and clients projects that I created with each project containing its own case study.
        </p>
      </div>
      <div class="section-projects-content">

        <div class="project-container">
          <img class="mockups" src="../../../assets/mockuper-3.png" alt="">
          <div class="project-container-info">
            <h3>My E-commerce Website</h3>
            <p>My E-commerce Website is a E-commerce Website project totaly idealized and designed by me. The Website offers anything that a modern E-commerce offer.<br> <strong>[STILL WORKING ON IT]</strong></p>
            <button routerLink="/project-4" type="button" class="btn project-container-btn">CASE STUDY</button>
          </div>
        </div>
  
        <div class="project-container">
          <img class="mockups" src="../../../assets/mockuper.png" alt="">
          <div class="project-container-info">
            <h3>Dentist Office Website</h3>
            <p>Dentist Office Website is a landing page website that I created for my mother's dentist office, where it contains all the business informations, such as the services offered and the office location.</p>
            <button routerLink="/project-1" type="button" class="btn project-container-btn">CASE STUDY</button>
          </div>
        </div>
  
        <div class="project-container">
          <img class="mockups" src="../../../assets/mockuper-2.png" alt="">
          <div class="project-container-info">
            <h3>Space Tourism Website</h3>
            <p>pace Tourism Website is a multi-page website application, which provides some space informations overview, such as planets informations, technologies used in space travels and its crew.</p>
            <button routerLink="/project-2" type="button" class="btn project-container-btn">CASE STUDY</button>
          </div>
        </div>
  
        <div class="project-container">
          <img class="mockups" src="../../../assets/mockuper-1.png" alt="">
          <div class="project-container-info">
            <h3>Rest Countries API</h3>
            <p>Rest Countries API is a website project which consumes a API called "restcountries.com", and exibes his .json format result in a well-developed user interface.</p>
            <button routerLink="/project-3" type="button" class="btn project-container-btn">CASE STUDY</button>
          </div>
        </div>
  
      </div> 
    </div>
  </div>