<div id="home" class="banner">
    <div class="home-content">
      <h1 id="page-title">MY E-COMMERCE WEBSITE</h1>
      <div class="d-flex justify-content-center align-items-center" id="subtitle">
        <h4>This page contains the case study of My E-commerce Website which includes the Project Overview, Tools Used and Live Links to the official product.</h4>
      </div>
      <a href="https://my-own-ecommerce.vercel.app/home" target="_blank">
          <button type="button" class="btn btn-lg">LIVE LINK</button>
      </a>
    </div>
</div>
<div style="background-color: #fafafa;" class="container-fluid">
    <div class="section-1-content d-flex flex-column justify-content-center align-items-center">
        <img class="mockup" src="../../../../assets/mockuper-3.png" alt="">
        <div class="project-info d-flex flex-column justify-content-center align-items-center">
            <h3>Project Overview</h3>
            <!-- <p>My E-commerce Website is a website project which consumes a API called "restcountries.com", and exibes his .json format result in a well-developed user interface.</p> -->
            <p>My E-commerce Website is a website project that tries to look like a real e-commerce website, which consumes a API called "fakestoreapi.com", exibing his .json format result and doing operations with it, such as filtering, queries, deletions, etc.</p>
            <!-- <p>My E-commerce Website was idealized and designed by Frontend Mentor, and created by me.  Feel free to check out the Project by visiting the <strong>Live Link</strong>!</p> -->
            <p>My E-commerce Website was idealized and designed by me. I took inspirations on most of the famous e-commerce websites in the world, such as Ebay, Walmart, Amazon, etc.</p>
        </div>
        <div class="tools d-flex flex-column justify-content-center align-items-center">
            <h3>Tools Used</h3>
            <div class="tools-list d-flex justify-content-around flex-wrap">
                <div class="tool-card d-flex justify-content-center align-items-center">
                    Angular
                </div>
                <div class="tool-card d-flex justify-content-center align-items-center">
                    TypeScript
                </div>
                <div class="tool-card d-flex justify-content-center align-items-center">
                    HTML
                </div>
                <div class="tool-card d-flex justify-content-center align-items-center">
                    Bootstrap
                </div>
                <!-- <div class="tool-card d-flex justify-content-center align-items-center">
                    Ng-Bootstrap
                </div>-->
                <!-- <div class="tool-card d-flex justify-content-center align-items-center">
                    Ng-Owl-Carousel
                </div>  -->
                <div class="tool-card d-flex justify-content-center align-items-center">
                    SCSS
                </div>
                <div class="tool-card d-flex justify-content-center align-items-center">
                    Git
                </div>
                <div class="tool-card d-flex justify-content-center align-items-center">
                    Owl-Carousel
                </div> 
            </div>
            <!-- <div class="tools-list-2 d-flex justify-content-around flex-wrap">
                <div class="tool-card d-flex justify-content-center align-items-center">
                    Ng-Bootstrap
                </div>
                <div class="tool-card d-flex justify-content-center align-items-center">
                    Ng-Owl-Carousel
                </div> 
            </div> -->
        </div>
        <div class="compatibility d-flex flex-column justify-content-center align-items-center">
            <h3>Compatibility</h3>
            <div class="compatibility-icons d-flex justify-content-around flex-wrap">
                <div class="icon-wrapper d-flex flex-column justify-content-center align-items-center">
                    <fa-icon style="font-size: 2rem; color: #fff;" [icon]="faDesktop"></fa-icon>
                    <span>Desktop</span>
                </div>
            </div>
        </div>
    </div>
</div>
